<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Food and Beverage</h4>
            <!-- <p class="card-category">Created using Roboto Font Family</p> -->
        </div>
        <div class="card-body">
                <div class="row">
                    <table class="table table-hover table-bordered table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th>SI.No</th>
                                <th>Room&nbsp;No</th>
                                <th>Name</th>
                                <th>Request&nbsp;Details</th>
                                <th>Request&nbsp;Status</th>
                                <th>Request&nbsp;Time</th>
                                <th>Cost</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>100</td>
                                <td>Siva</td>
                                <td>Tea</td>
                                <td>Requested</td>
                                <td>6.00 pm</td>
                                <td>50</td>
                                <td><i class="fa fa-pencil-square-o"></i></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>100</td>
                                <td>Siva</td>
                                <td>Tea</td>
                                <td>Requested</td>
                                <td>6.00 pm</td>
                                <td>50</td>
                                <td><i class="fa fa-pencil-square-o"></i></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>100</td>
                                <td>Siva</td>
                                <td>Tea</td>
                                <td>Requested</td>
                                <td>6.00 pm</td>
                                <td>50</td>
                                <td><i class="fa fa-pencil-square-o"></i></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>100</td>
                                <td>Siva</td>
                                <td>Tea</td>
                                <td>Requested</td>
                                <td>6.00 pm</td>
                                <td>50</td>
                                <td><i class="fa fa-pencil-square-o"></i></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>100</td>
                                <td>Siva</td>
                                <td>Tea</td>
                                <td>Requested</td>
                                <td>6.00 pm</td>
                                <td>50</td>
                                <td><i class="fa fa-pencil-square-o"></i></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>100</td>
                                <td>Siva</td>
                                <td>Tea</td>
                                <td>Requested</td>
                                <td>6.00 pm</td>
                                <td>50</td>
                                <td><i class="fa fa-pencil-square-o"></i></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>100</td>
                                <td>Siva</td>
                                <td>Tea</td>
                                <td>Requested</td>
                                <td>6.00 pm</td>
                                <td>50</td>
                                <td><i class="fa fa-pencil-square-o"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
