<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Food and Beverage</h4>
        </div>
        <div class="card-body">
                <div class="row">
                    <table class="table table-hover table-bordered table-striped tableBodyScroll">
                        <thead class="text-primary">
                            <tr>
                                
                                <th>Room Number</th>
                                <th>Guest Name</th>
                                <th>Total Amount</th>                                
                                <th style="width: 300px">Ticket Number</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let food of food_request_param '>                              
                                <td>{{food.room_no}}</td>
                                <td>{{food.guest_name}}</td>
                                <td>{{food.total_amount}}</td>
                                <td style="width: 320px">{{food.ticket_no}}</td>

                                <td><i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal"
                                        (click)="food_popup(food)"></i></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>


   <!-- Modal -->
   <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="card-header card-header-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body" >
                <div class="row" style="margin: 20px">
                    <table class="table table-bordered table-striped table-hover tableBodyScroll">
                        <thead class="text-info">
                            <tr>
                                <th>SI.NO</th>
                                <th>RoomNo</th>                                   
                                <th>Food&nbsp;Iteam</th>                                                                        
                                <th>Category</th>  
                                <th>Food&nbsp;Instruction</th> 
                                <th>Request&nbsp;Time</th> 
                                <th>Price</th>                                 
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor='let food_iteams_details of food_iteam;let i = index'>
                                <td>{{i+1}}</td>
                                <td>{{food_iteams_details.room_no}}</td>
                                <td>{{food_iteams_details.item_name}}</td>
                                <td>{{food_iteams_details.foodcateg_name}}</td>                                   
                                <td>{{food_iteams_details.item_description}}</td>
                                <td>{{food_iteams_details.request_time}}</td>                                  
                                <td>{{food_iteams_details.price}}</td>                                  
                            </tr>

                            <tr *ngIf='food_iteam !=0'>
                                <th colspan="6">Total Price</th>
                                <td>{{food_details}}</td>
                                
                            </tr>
                            <tr *ngIf='close_ticket !=0'>
                                <th colspan="2">Close Ticket</th>
                            <td>
                                <button type="button" class="btn btn-default" (change)="select(close_ticket)">Close The Ticket</button>
                                
                            </td>
                            </tr>
                       


                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>