<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Laundry</h4>
                <!-- <p class="card-category">Created using Roboto Font Family</p> -->
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-hover table-bordered table-striped tableBodyScroll">
                        <thead class="text-primary">
                            <tr>
                                
                                <th>Room Number</th>
                                <th>Guest Name</th>
                                <th>Total Amount</th>                                
                                <th style="width: 300px">Ticket Number</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let laundry of laundry_req '>                              
                                <td>{{laundry.room_no}}</td>
                                <td>{{laundry.guest_name}}</td>
                                <td>{{laundry.total_amount}}</td>
                                <td style="width: 320px">{{laundry.ticket_no}}</td>

                                <td><i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal"
                                        (click)="laundry_popup(laundry)"></i></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="card-header card-header-info">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin: 20px">
                        <table class="table table-bordered table-striped table-hover tableBodyScroll">
                            <thead class="text-info width-100">
                                <tr>
                                    <th>SI.NO</th>
                                    <th>RoomNo</th>                                   
                                    <th>Laundry Iteam</th>                                                                        
                                    <th>Category</th>  
                                    <th>Cleaning&nbsp;Instruction</th> 
                                    <th>Request&nbsp;Time</th> 
                                    <th>Price</th>                                 
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor='let laundry_iteams of laundry_iteam;let i = index'>
                                    <td>{{i+1}}</td>
                                    <td>{{laundry_iteams.room_no}}</td>
                                    <td>{{laundry_iteams.ldryitem_name}}</td>
                                    <td>{{laundry_iteams.ldrycateg_name}}</td>                                   
                                    <td>{{laundry_iteams.cleaning_instruction}}</td>
                                    <td>{{laundry_iteams.request_time}}</td>                                  
                                    <td>{{laundry_iteams.price}}</td>                                  
                                </tr>

                                <tr *ngIf='laundry_iteam !=0'>
                                    <th colspan="6">Total Price</th>
                                    <td>{{laundry_details}}</td>
                                    
                                </tr>
                           


                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>