<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 pointer">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Reservation</h4>
          </div>
          <div class="card-body">

            <ul class="nav nav-pills" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#createreservation">Create Reservation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#resdetail">Reservation Details</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="createreservation" class="container tab-pane active testborder">
                <br>
                <form  id="" #myform="ngForm">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" placeholder="Enter Mobile Number" name="mobile" id="" class="form-control" [(ngModel)]="reservation.mobile">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" placeholder="Enter No of Adults" name="Adults" id="" class="form-control" [(ngModel)]="reservation.Adults">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" placeholder="Enter No Of Child" name="Child" id="" class="form-control" [(ngModel)]="reservation.Child">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                          placeholder="Enter Checkin Date" name="Checkin" id="" class="form-control" [(ngModel)]="reservation.Checkin">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                          placeholder="Enter CheckOut Date" name="CheckOut" id="" class="form-control" [(ngModel)]="reservation.CheckOut">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <select placeholder="Enter Room No" name="Room" id="" class="form-control" [(ngModel)]="reservation.room_no">
                          <option value="" disabled selected>Select</option>
                          <option  *ngFor="let list of room_select" [ngValue] = "list.room_no">{{list.room_no}}</option>  
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2">
                        <button type="reset" class="btn btn-info form-group" (click)='reservation_insert(reservation)'
                        [disabled]="!myform.valid">
                        Submit
                      </button>
                    </div>
                    <div class="col-5"></div>
                  </div>
                  <br>
                </form>
              </div>
              <div id="resdetail" class="container tab-pane testborder">
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-hover table-bordered table-striped tableBodyScroll">
                      <thead class="text-primary">
                        <tr>
                          <th width="50px">SI.No</th>
                          <th>Name</th>
                          <th>Checkin</th>
                          <th>CheckOut</th>
                          <th>Room&nbsp;No</th>
                          <th>Adults</th>
                          <th>Child</th>
                          <th>Total Bill</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor='let select_reservation_details of reservation_return_details;let i =index '>
                          <td width="50px">{{i+1}}</td>
                          <td>{{select_reservation_details.guest_name}}</td>
                          <td>{{select_reservation_details.checkin_date}}</td>
                          <td>{{select_reservation_details.checkout_date}}</td>
                          <td>{{select_reservation_details.room_no}}</td>
                          <td>{{select_reservation_details.adult}}</td>
                          <td>{{select_reservation_details.child}}</td>
                          <td>{{select_reservation_details.total_price}}</td>
                          <td><i class="fa fa-pencil-square-o" data-toggle="modal" data-target="#reservation_Modal"
                              (click)="reservation_edit_details(select_reservation_details)"></i></td>

                        </tr>         
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="reservation_Modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="card-header card-header-info">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Reservation</h4>
      </div>
      <div class="modal-body">
        <form  id="" #myform="ngForm">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" placeholder="Enter Mobile Number" name="mobile" id="" class="form-control" [(ngModel)]="edit_reservation.mobile">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" placeholder="Enter No of Adults" name="Adults" id="" class="form-control" [(ngModel)]="edit_reservation.Adults">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" placeholder="Enter No Of Child" name="Child" id="" class="form-control" [(ngModel)]="edit_reservation.Child">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                  placeholder="Enter Checkin Date" name="Checkin" id="" class="form-control" [(ngModel)]="edit_reservation.Checkin">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                  placeholder="Enter CheckOut Date" name="CheckOut" id="" class="form-control" [(ngModel)]="edit_reservation.CheckOut">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <select placeholder="Enter Room No" name="Room" id="" class="form-control" [(ngModel)]="edit_reservation.room_no">
                  <option value="" disabled selected>Select</option>
                  <option  *ngFor="let list of room_select" [ngValue] = "list.room_no">{{list.room_no}}</option>  
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5"></div>
            <div class="col-2">
                <button type="reset" class="btn btn-info form-group" (click)='reservation_update_details(edit_reservation)'
                [disabled]="!myform.valid">
                Submit
              </button>
            </div>
            <div class="col-5"></div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>