<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 pointer">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Profile</h4>
          </div>
          <div class="card-body">

            <ul class="nav nav-pills" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#createprofile">Create Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#profdetail">Profile Details</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="createprofile" class="container tab-pane active testborder">
                <br>
                <form action="">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" placeholder="Enter the Name" name="name" id="" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" placeholder="Enter Mobile Number" name="name" id="" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" placeholder="Enter Address" name="name" id="" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="email" placeholder="Enter Email id" name="name" id="" class="form-control">
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2">
                      <button class="btn btn-info">
                        Submit
                      </button>
                    </div>
                    <div class="col-5"></div>
                  </div>
                  <br>
                </form>
              </div>
              <div id="profdetail" class="container tab-pane testborder">
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-hover table-bordered table-striped tableBodyScroll">
                      <thead class="text-primary">
                        <tr>
                          <th width="50px">SI.No</th>
                          <th>Name</th>
                          <th>Mobile&nbsp;NO</th>
                          <th>Address</th>
                          <th>Email&nbsp;Id</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                          <td width="50px">1</td>
                          <td>Siva</td>
                          <td>9009009009</td>
                          <td>Chrompet,Chennai-600010</td>
                          <td>siva@gmail.com</td>
                          <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>