<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Travel Desk</h4>
            <!-- <p class="card-category">Created using Roboto Font Family</p> -->
        </div>
        <div class="card-body">
                <div class="row">
                    <table class="table table-hover table-bordered table-striped tableBodyScroll">
                        <thead class="text-primary">
                            <tr>
                                
                                <th>Room&nbsp;No</th>                                
                                <th>Name</th>
                                <th>Department</th>
                                <th>Request&nbsp;Details</th>
                                <th>Request&nbsp;Status</th>
                                <th>Request&nbsp;Time</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let traveldesk of traveldesk_req'>
                                
                                <td>{{traveldesk.room_no}}</td>
                                <td>{{traveldesk.guest_name}}</td>
                                <td>{{traveldesk.fdcategory_name}}</td>
                                <td>{{traveldesk.fditem_names}}</td>
                                <td>{{traveldesk.ticketstatus}}</td>
                                <td>{{traveldesk.request_time}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
