<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">

                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item">

                                <a class="nav-link active" data-toggle="pill" href="#createprofile">Room Configure
                                    &nbsp;<i class="fa fa-cog"></i> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#foodandbeverage">Food and Beverage
                                    Configure
                                    &nbsp;<i class="fa fa-cog"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#laundry">Laundry Configure &nbsp;<i
                                        class="fa fa-cog"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div id="createprofile" class="container tab-pane active">
                                <ul class="nav nav-pills" role="tablist">
                                    <li class="nav-item">

                                        <a class="nav-link nav-link1 active" data-toggle="pill"
                                            href="#createprofile1">Room
                                            Configure </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  nav-link1" data-toggle="pill" href="#profdetail2">Room
                                            Details</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="createprofile1" class="container tab-pane active testborder">
                                        <br>
                                        <form action="">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter Room NO" name="name" id=""
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter Room Type" name="name"
                                                            id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter Floor" name="name" id=""
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="btn btn-info">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                            <br>
                                        </form>
                                    </div>
                                    <div id="profdetail2" class="container tab-pane testborder">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                        S.No
                                                    </th>
                                                    <th>
                                                        Room No
                                                    </th>
                                                    <th>
                                                        Room Type
                                                    </th>
                                                    <th>
                                                        Room Floor
                                                    </th>
                                                    <th>
                                                        Edit
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            100
                                                        </td>
                                                        <td>
                                                            Flex Room
                                                        </td>
                                                        <td>
                                                            First
                                                        </td>
                                                        <td class="text-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            100
                                                        </td>
                                                        <td>
                                                            Flex Room
                                                        </td>
                                                        <td>
                                                            First
                                                        </td>
                                                        <td class="text-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            100
                                                        </td>
                                                        <td>
                                                            Flex Room
                                                        </td>
                                                        <td>
                                                            First
                                                        </td>
                                                        <td class="text-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            100
                                                        </td>
                                                        <td>
                                                            Flex Room
                                                        </td>
                                                        <td>
                                                            First
                                                        </td>
                                                        <td class="text-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            100
                                                        </td>
                                                        <td>
                                                            Flex Room
                                                        </td>
                                                        <td>
                                                            First
                                                        </td>
                                                        <td class="text-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            100
                                                        </td>
                                                        <td>
                                                            Flex Room
                                                        </td>
                                                        <td>
                                                            First
                                                        </td>
                                                        <td class="text-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="foodandbeverage" class="container tab-pane">
                                <ul class="nav nav-pills" role="tablist">
                                    <li class="nav-item">

                                        <a class="nav-link nav-link2 active" data-toggle="pill"
                                            href="#createprofile2">Food and
                                            Beverage Configure </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  nav-link2" data-toggle="pill" href="#profdetail3">Food and
                                            Beverage
                                            Details </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="createprofile2" class="container tab-pane active testborder">
                                        <br>
                                        <form action="">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter Item Name" name="name"
                                                            id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter Category Name" name="name"
                                                            id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter Food Type" name="name" id=""
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="email" placeholder="Enter Offers" name="name"
                                                            id="" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input type="text" placeholder="Today Special" name="name"
                                                                id="" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input type="text" placeholder="Enter Food Rate" name="name"
                                                                id="" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            <div class="row">
                                                <div class="col-5"></div>
                                                <div class="col-2">
                                                    <button class="btn btn-info">
                                                        Submit
                                                    </button>
                                                </div>
                                                <div class="col-5"></div>
                                            </div>
                                            <br>
                                        </form>
                                    </div>
                                    <div id="profdetail3" class="container tab-pane  testborder">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Item&nbsp;Name</th>
                                                        <th>Food&nbsp;Type</th>
                                                        <th>Catagory</th>
                                                        <th>Status</th>
                                                        <th>Offers(in&nbsp;Rs)</th>
                                                        <th>Today&nbsp;Specials</th>
                                                        <th>Price&nbsp;in&nbsp;Rs</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Dakota Rice</td>
                                                        <td>Non-veg</td>
                                                        <td>Starters</td>
                                                        <td>Active</td>
                                                        <td>0</td>
                                                        <td>Yes</td>
                                                        <td>Rs.100 </td>
                                                        <td><i class="fa fa-edit"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Dakota Rice</td>
                                                        <td>Non-veg</td>
                                                        <td>Starters</td>
                                                        <td>Active</td>
                                                        <td>0</td>
                                                        <td>Yes</td>
                                                        <td>Rs.100 </td>
                                                        <td><i class="fa fa-edit"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Dakota Rice</td>
                                                        <td>Non-veg</td>
                                                        <td>Starters</td>
                                                        <td>Active</td>
                                                        <td>0</td>
                                                        <td>Yes</td>
                                                        <td>Rs.100 </td>
                                                        <td><i class="fa fa-edit"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Dakota Rice</td>
                                                        <td>Non-veg</td>
                                                        <td>Starters</td>
                                                        <td>Active</td>
                                                        <td>0</td>
                                                        <td>Yes</td>
                                                        <td>Rs.100 </td>
                                                        <td><i class="fa fa-edit"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Dakota Rice</td>
                                                        <td>Non-veg</td>
                                                        <td>Starters</td>
                                                        <td>Active</td>
                                                        <td>0</td>
                                                        <td>Yes</td>
                                                        <td>Rs.100 </td>
                                                        <td><i class="fa fa-edit"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Dakota Rice</td>
                                                        <td>Non-veg</td>
                                                        <td>Starters</td>
                                                        <td>Active</td>
                                                        <td>0</td>
                                                        <td>Yes</td>
                                                        <td>Rs.100 </td>
                                                        <td><i class="fa fa-edit"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Dakota Rice</td>
                                                        <td>Non-veg</td>
                                                        <td>Starters</td>
                                                        <td>Active</td>
                                                        <td>0</td>
                                                        <td>Yes</td>
                                                        <td>Rs.100 </td>
                                                        <td><i class="fa fa-edit"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Dakota Rice</td>
                                                        <td>Non-veg</td>
                                                        <td>Starters</td>
                                                        <td>Active</td>
                                                        <td>0</td>
                                                        <td>Yes</td>
                                                        <td>Rs.100 </td>
                                                        <td><i class="fa fa-edit"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="laundry" class="container tab-pane">
                                <ul class="nav nav-pills" role="tablist">
                                    <li class="nav-item">

                                        <a class="nav-link nav-link3 active" data-toggle="pill"
                                            href="#createprofile3">Laundry
                                            Configure</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link  nav-link3" data-toggle="pill" href="#profdetail4">Laundry Details</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="createprofile3" class="container tab-pane active testborder">
                                        <br>
                                        <form action="">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter Room NO" name="name" id=""
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter Room Type" name="name"
                                                            id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Enter Floor" name="name" id=""
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="btn btn-info">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                            <br>
                                        </form>
                                    </div>
                                    <div id="profdetail4" class="container tab-pane  testborder">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                        454
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Country
                                                    </th>
                                                    <th>
                                                        City
                                                    </th>
                                                    <th>
                                                        Salary
                                                    </th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            Dakota Rice
                                                        </td>
                                                        <td>
                                                            Niger
                                                        </td>
                                                        <td>
                                                            Oud-Turnhout
                                                        </td>
                                                        <td class="text-primary">
                                                            $36,738
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2
                                                        </td>
                                                        <td>
                                                            Minerva Hooper
                                                        </td>
                                                        <td>
                                                            Curaçao
                                                        </td>
                                                        <td>
                                                            Sinaai-Waas
                                                        </td>
                                                        <td class="text-primary">
                                                            $23,789
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            3
                                                        </td>
                                                        <td>
                                                            Sage Rodriguez
                                                        </td>
                                                        <td>
                                                            Netherlands
                                                        </td>
                                                        <td>
                                                            Baileux
                                                        </td>
                                                        <td class="text-primary">
                                                            $56,142
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            4
                                                        </td>
                                                        <td>
                                                            Philip Chaney
                                                        </td>
                                                        <td>
                                                            Korea, South
                                                        </td>
                                                        <td>
                                                            Overland Park
                                                        </td>
                                                        <td class="text-primary">
                                                            $38,735
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            5
                                                        </td>
                                                        <td>
                                                            Doris Greene
                                                        </td>
                                                        <td>
                                                            Malawi
                                                        </td>
                                                        <td>
                                                            Feldkirchen in Kärnten
                                                        </td>
                                                        <td class="text-primary">
                                                            $63,542
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            6
                                                        </td>
                                                        <td>
                                                            Mason Porter
                                                        </td>
                                                        <td>
                                                            Chile
                                                        </td>
                                                        <td>
                                                            Gloucester
                                                        </td>
                                                        <td class="text-primary">
                                                            $78,615
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>