<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">

                <form class="navbar-form">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="text-info">
                            <tr>
                                <th>Room No</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Request Details</th>
                                <th>Request Time</th>
                                <th>Request Status</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>