<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-rose">

                <form class="navbar-form">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="card-title" style="margin-top: 6px">Front Desk</h4>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-3">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body" id="accordian">
                <div class="row backcolor" role="button" data-toggle="collapse"  href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">                  
                        <a style="float:left" id="a" >Over all Tickets</a>                  
                </div>
                <div class="row collapse show" id="collapseOne" role="tabpanel" data-parent="#accordian">
                    <table class="table table-bordered table-striped table-hover tableBodyScroll">
                        <thead class="text-info">
                            <tr>
                                <th>Room No</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Request Details</th>
                                <th>Request Time</th>
                                <th>Request Status</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>

                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row backcolorone" role="button" data-toggle="collapse"  href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  
                        <a style="float:left" id="aone">Closed Tickets</a>
                  
                </div>
                <div class="row collapse " id="collapseTwo" role="tabpanel" data-parent="#accordian">
                    <table class="table table-bordered table-striped table-hover tableBodyScroll">
                        <thead class="text-info">
                            <tr>
                                <th>Room No</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Request Details</th>
                                <th>Request Time</th>
                                <th>Request Status</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>

                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>
                            <tr>
                                <td>
                                    100
                                </td>
                                <td>Ram</td>
                                <td>House Keeping</td>
                                <td>Clean Room</td>
                                <td>2019-03-11 17:58:08</td>
                                <td>Completed</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>